extends ../layout

include ./mixins

block body
	#container-inner
		#header
			h1
				| Confessional
				p.extra
					a(href="/confess") Submit your own
					|  or click "reply" to respond below.
		
		if confessions && confessions.length
			.row
				each confession, i in confessions
					.span4
						div.confession.white-card
							mixin do_confession(confession, false)