extends layout

block body
	#container-inner

		- if ('undefined' !== typeof errors && errors.length)
			ul#errors
				- each error in errors
					li.error= error

		h1 Feedback
		p.big-text Some intro to the feedback page.

		.row
			.span4.offset4.text-center
				p Give us some feedback.
				form(method="POST")#feedbackForm.well
					#email-group.control-group
						label.control-label(for='email') Email: 
						.controls
							input(type='text', name='email', placeholder='Email', tabindex=1, value=email)
					#text-group.control-group
						label.control-label(for='text') Password: 
						.controls
							textarea#text(type="text", placeholder="", name="text", rows="15", tabindex=2) !{text}
							//.input-block-level
							//input(type='password', name='password', placeholder='Password', tabindex=2)
					#submit.control-group
						.controls
							input.btn-auth.btn-login(type='submit', value='Submit', tabindex=3)