extends layout

block body
	#container-inner
		- if ('undefined' !== typeof errors && errors.length)
			ul#errors
				- each error in errors
					li.error= error

		.row
			.span12
				h1 Science of Sharing Experimonths
				
				p The Experimonths on this site are the result of a 3-year project called "The Science of Sharing: Exhibits and Activities Fostering Investigation of Cooperation, Competition and Social Interdependence" funded by the National Science Foundation. They were designed in collaboration between the Museum of Life and Science and the Exploratorium.  

			.span3
				.framed-post
					figure
						figcaption
							.fp-show-always
								.fp-featured-img
									img(alt='Frenemy', src='/img/history/frenemy.jpg')
							.fp-show-on-hover
								h5.fp-title Frenemy
								h6 (June 2012, February 2014)
								.fp-buttons
									a.btn.fp-details-btn(href="#", data-bootbox-custom='<strong>Frenemy</strong> (June 2012, February 2014) paired each player with a stranger every morning for one month (a different one each day). Equipped with only one piece of information about each other and no way to communicate with each other, players decided whether to be friends or enemies, but at a price (friend/friend = 15 points each, friend/enemy = -5 to friend-er, +25 to enemy-er, enemy/enemy = 5, 5).  To social psychologists and neuroscientists like <a href=“http://decisionneuroscience.bits-of-information.org/“>Wouter van den Bos</a>, who helped develop the game, this scenario is called the <a href="http://en.wikipedia.org/wiki/Prisoner\'s_dilemma">Prisoner\'s Dilemma</a>.') Learn More
			.span3
				.framed-post
					figure
						figcaption
							.fp-show-always
								.fp-featured-img
									img(alt='DYKWIKYK', src='/img/history/dykwikyk.jpg')
							.fp-show-on-hover
								h5.fp-title Do You Know What I Know You Know?
								h6 (April 2014)
								.fp-buttons
									a.btn.fp-details-btn(href="#", data-bootbox-custom='<strong>Do You Know What I Know You Know?</strong> (April 2014) paired each player with a stranger or two strangers (a different one each day) and asked a series of opinion-based questions. Without the ability to communicate with one another, the players needed to come to a consensus around an answer before proceeding. To game theorists and social psychologists like <a href=“http://evolution.rutgers.edu/people/ches-faculty-mainmenu-150/lee-cronk”>Lee Cronk</a>, who helped develop the game, this is know as the <a href="http://en.wikipedia.org/wiki/Focal_point_(game_theory)">Focal or Schelling Point</a>.') Learn More
			.span3
				.framed-post
					figure
						figcaption
							.fp-show-always
								.fp-featured-img
									img(alt='Freeloader', src='/img/history/freeloader.jpg')
							.fp-show-on-hover
								h5.fp-title Freeloader
								h6 (July 2014)
								.fp-buttons
									a.btn.fp-details-btn(href="#", data-bootbox-custom='<strong>Freeloader</strong> (July 2014) randomly grouped players in teams on the first day and gave each player the choice whether or not to stay with the team as the month progressed.  Each day, players were given one dollar and asked whether or not they wanted to invest in the group or freeload off the folks who decide to invest. To scientists who research cooperation like <a href=“http://www.athenaaktipis.com/Home.html”>Athena Aktipis</a>, who helped us develop the game, this scenario is called the <a href="http://en.wikipedia.org/wiki/Free_rider_problem">Free Rider Problem</a>.') Learn More
			.span3
				.framed-post
					figure
						figcaption
							.fp-show-always
								.fp-featured-img
									img(alt='Belonging', src='/img/history/belonging.png')
							.fp-show-on-hover
								h5.fp-title Belonging
								h6 (September 2014)
								.fp-buttons
									a.btn.fp-details-btn(href="#", data-bootbox-custom='<strong>Belonging</strong> (September 2014) attempted to visualize and map people’s feelings about belonging in various places across the world by installing a poster that asked passersby to mark or text whether or not they felt they belonged in a specific location. In addition to the mapping component, participants were asked to confess moments where they felt in or out  in social situations. Many of these confessions were blogged on the Belonging website. Participants also took and shared a Spectrum Survey that used Likert scales instead of categories or binaries to collect information about identity. An archive of this Experimonth lives at http://belonging.experimonth.com. This Experimonth was inspired by social psychologists who research how people form conceptions of their own identities and social groups, known as <a href=“http://en.wikipedia.org/w/index.php?title=Identity_(social_science)&redirect=no”>social identity theory</a>.') Learn More

		p
			strong Frenemy
			|  (June 2012, February 2014) paired each player with a stranger every morning for one month (a different one each day). Equipped with only one piece of information about each other and no way to communicate with each other, players decided whether to be friends or enemies, but at a price (friend/friend = 15 points each, friend/enemy = -5 to friend-er, +25 to enemy-er, enemy/enemy = 5, 5).  To social psychologists and neuroscientists like 
			a(href="http://decisionneuroscience.bits-of-information.org/") Wouter van den Bos
			| , who helped develop the game, this scenario is called the 
			a(href="http://en.wikipedia.org/wiki/Prisoner's_dilemma") Prisoner's Dilemma
			| .
		p
			strong Do You Know What I Know You Know?
			|  (April 2014) paired each player with a stranger or two strangers (a different one each day) and asked a series of opinion-based questions. Without the ability to communicate with one another, the players needed to come to a consensus around an answer before proceeding. To game theorists and social psychologists like 
			a(href="http://evolution.rutgers.edu/people/ches-faculty-mainmenu-150/lee-cronk") Lee Cronk
			| , who helped develop the game, this is know as the 
			a(href="http://en.wikipedia.org/wiki/Focal_point_(game_theory)") Focal or Schelling Point
			| .
		p
			strong Freeloader
			|  (July 2014) randomly grouped players in teams on the first day and gave each player the choice whether or not to stay with the team as the month progressed.  Each day, players were given one dollar and asked whether or not they wanted to invest in the group or freeload off the folks who decide to invest. To scientists who research cooperation like 
			a(href="http://www.athenaaktipis.com/Home.html") Athena Aktipis
			| , who helped us develop the game, this scenario is called the 
			a(href="http://en.wikipedia.org/wiki/Free_rider_problem") Free Rider Problem
			| .

		p In addition to the four Experimonths listed above, there were two beta Experimonths prototyped for Science of Sharing: 
		ol
			li 
				strong Trade It Up
				|  (April 2012) gave each participant a small pin and asked them to trade it for items of greater value over the course of the month. 
			li
				strong PassWord
				|  (July 2012) split participants into 12-person teams that virtually raced each other across the country on a Google Map, using shared mileage inspired by the economics theory called 
				a(href="http://en.wikipedia.org/wiki/Tragedy_of_the_commons") Tragedy of the Commons
				| . An archive of this Experimonth lives at 
				a(href="http://password.experimonth.lifeandscience.org/") http://password.experimonth.lifeandscience.org/
				| .
				
		.row
			.span12
				h1 Experimonth: Race / Identity
			.span3
				.white-card
					img(alt='Race', src='/img/history/race.jpg')
			.span3
				.white-card
					img(alt='SHHN', src='/img/history/shhn.jpg')
			.span3
				.white-card
					img(alt='Census', src='/img/history/census.png')
			.span12
				p
					strong Experimonth: Race
					|  (November 2011) was a companion experience to the Race: Are We So Different traveling exhibition.  Participants explored issues of race and ethnicity through discussions on Facebook groups. Each group was assigned a different activity or topic (e.g. Baby Doll experiment, Best of Enemies book club, Cultural Plunge, News Watchdog, Personal Timeline Project, Shutterbug, "Smart, Hot, Honest or Not?", "30 Days, 30 Questions", and Confessional) and a museum educator facilitated discussion over the course of the month. In addition to the Facebook groups, there was also an implicit association game "Smart, Hot, Honest or Not?" that used facial morphing software to change the perceived ethnicity of players’ headshots and asked them to vote on how attractive, intelligent and trustworthy someone was in comparison to some other player (at random).  This gave players who uploaded their photo a view into how they are perceived as their own ethnicity and as another.  This Experimonth was co-developed with the Science Museum of Minnesota (who ran a companion Experimonth called "Experimonth: Identity" also in November 2011), Michigan State University, and 
					a(href="http://www.ahbwellness.com/sample-page/clinicians") April Harris-Britt, Ph.D. (social scientist)
					| .
			.span12
				h1 Experimonth: Mood
			.span3
				.white-card
					img(alt='Experimonth: Mood', src='/img/history/mood-iphone.jpg')
			.span3
				.white-card
					img(alt='Experimonth: Mood', src='/img/history/mood-website.jpg')
			.span12
				p
					strong Experimonth: Mood
					|  (April 2011) texted participants five times a day, every day for one month, asking the same question each time: "Rate your mood 1 (low) to 10 (high)." Participants texted back this data, which was visualized on a website in context of the entire community of participants. The website also hosted a blog where participants could read about mood and positive emotion. This Experimonth was co-developed by 
					a(href="http://francesulmanphd.com/") Frances Ulman, Ph.D. (social scientist)
					| , Science Museum of Minnesota, and Michigan State University. An archive of this Experimonth lives at 
					a(href="http://experimonth.lifeandscience.org/mood") http://experimonth.lifeandscience.org/mood
					| .