mixin do_notifications()
	if locals.userNotifications
		n = locals.userNotifications
	else if locals.notifications
		n = locals.notifications
	if n && n.length > 0
		each notification, i in n
			div(class='notification notification-'+notification.type+(notification.read ? ' read' : ''))
				.notification-header
					a.close(href='/notification/read/'+notification._id)
						i.icon-remove
					if notification.subject
						.notification-subject #{notification.subject}
					span.notification-date #{locals.moment(notification.date).format('MMMM DD, YYYY, h:mm A')}
				.notification-body !{notification.text}
	else
		h2 No Notifications!