extends layout

block body
	#container-inner
		
		- if ('undefined' !== typeof errors && errors.length)
			ul#errors
				- each error in errors
					li.error= error

		h1 Know yourself. Through science.
		p.big-text Experimonths are month-long challenges that teach you about your own motivations, biases, tendencies and habits. At the same time, they collect data for scientists who have agreed to trade rigor for cutting edge data. Play along by signing up. It’s free.

		.row
			.span8.offset2.text-center
				.well
					a.btn.btn-auth.btn-twitter(href="/auth/twitter")
						i.icon-twitter
						|  Sign up with Twitter
					a.btn.btn-auth.btn-facebook(href="/auth/facebook") 
						i.icon-facebook
						|  Sign up with Facebook
		.row
			.span6.offset3.text-center
				h2 Or create your own account:
		.row
			.span4.offset4.text-center
				form.well(action='/auth/local/register', method='POST')
					#login.control-group
						//label.control-label(for='email') Email: 
						.controls
							input(type='text', name='email', placeholder='Email', tabindex=1)
					#password.control-group
						//label.control-label(for='password') Password: 
						.controls
							input(type='password', name='password', placeholder='Password', tabindex=2)
					#password.control-group
						//label.control-label(for='password') Password: 
						.controls
							input(type='password', name='confirm-password', placeholder='Confirm password', tabindex=3)
					#submit.control-group
						.controls
							input.btn-auth.btn-login(type='submit', value='Register with Email', tabindex=3)
				p
					| If you already have an account, 
					a(href="/signin") login here
					| .