extends layout

block body
	#container-inner.register
		
		- if ('undefined' !== typeof errors && errors.length)
			ul#errors
				- each error in errors
					li.error= error

		h1 Know yourself. Through science.
		p.big-text Experimonths are month-long challenges that teach you about your own motivations, biases, tendencies and habits. At the same time, they collect data for scientists who have agreed to trade rigor for cutting edge data.
		p.big-text To play along, follow these 3 easy steps:

		.row
			.span12
				h3 1. Create an account
		.row
			.span10.offset1.step1
				img(src='/img/register-twitter.png')
				img(src='/img/register-facebook.png')
				img(src='/img/register-mail.png')
				p.big-text Use Twitter, Facebook, or your email address to create an account.
		.row
			.span12
				h3 2. Enroll and answer questions
		.row
			.span10.offset1.step2
				img(src='/img/register-hand.png')
				p.big-text Make a commitment. Click 'Currently Recruiting' in the top navigation bar to enroll in an Experimonth. Many Experimonths have associated questions. Be sure to visit your profile and answer these questions before you participate.
		.row
			.span12
				h3 3. Participate
		.row
			.span10.offset1.step3
				img(src='/img/register-calendar.png')
				p.big-text Try every day. Try your best to stick with it everyday, and to try again if you don't. After all, failure is a critical part of science.
		.row
			.span10.offset1.step3
				img(src='/img/register-heart.png')
				p.big-text Be honest & forthright. Share with others what challenges and triumphs you experience. Learn about yourself.
		.row
			.span6.offset3.text-center
				h2 Play along by signing up. It’s free.
		.row
			.span8.offset2.text-center
				.well
					a.btn.btn-auth.btn-twitter(href="/auth/twitter")
						i.icon-twitter
						|  Sign up with Twitter
					a.btn.btn-auth.btn-facebook(href="/auth/facebook") 
						i.icon-facebook-sign
						|  Sign up with Facebook
		.row
			.span6.offset3.text-center
				h2 Or create your own account:
		.row
			.span4.offset4.text-center
				form.well(action='/auth/local/register', method='POST')
					#login.control-group
						//label.control-label(for='email') Email: 
						.controls
							input(type='text', name='email', placeholder='Email', tabindex=1)
					#password.control-group
						//label.control-label(for='password') Password: 
						.controls
							input(type='password', name='password', placeholder='Password', tabindex=2)
					#password.control-group
						//label.control-label(for='password') Password: 
						.controls
							input(type='password', name='confirm-password', placeholder='Confirm password', tabindex=3)
					#submit.control-group
						.controls
							input.btn-auth.btn-login(type='submit', value='Register with Email', tabindex=3)
				p
					| If you already have an account, 
					a(href="/signin") log in here
					| .