extends layout

block body
	#container-inner
		
		- if ('undefined' !== typeof errors && errors.length)
			ul#errors
				- each error in errors
					li.error= error

		h1 Reset Your Password

		.row
			.span4.offset4.text-center
				p To reset your password, first provide the email address with which you registered for an account.
				form.well(method='POST')
					#login.control-group
						//label.control-label(for='email') Email: 
						.controls
							input(type='text', name='email', placeholder='Email', tabindex=1)
					#submit.control-group
						.controls
							input.btn-auth.btn-login(type='submit', value='Reset My Password', tabindex=3)