extends layout

block body
	#container-inner
		
		- if ('undefined' !== typeof errors && errors.length)
			ul#errors
				- each error in errors
					li.error= error

		h1 Reset Your Password
		.row
			.span4.offset4.text-center
				form.well(method='POST')
					#password.control-group
						//label.control-label(for='password') Password: 
						.controls
							input(type='password', name='password', placeholder='New Password', tabindex=2)
					#password.control-group
						//label.control-label(for='password') Password: 
						.controls
							input(type='password', name='confirm-password', placeholder='Confirm new password', tabindex=3)
					#submit.control-group
						.controls
							input.btn-auth.btn-login(type='submit', value='Set New Password', tabindex=3)