extends layout

block body
	#container-inner
		- if ('undefined' !== typeof errors && errors.length)
			ul#errors
				- each error in errors
					li.error= error

		h1 What is Experimonth?
		
		.row
			.span8
				p Experimonth started in January of 2009 as a way to redefine New Years Resolutions. Its roots are of habit-making and self-awareness. In April of 2011, it was brought to the Museum of Life and Science as a way to co-create a fun experience with a local researcher, Frances Ulman, Ph.D.  The experiment went well and it's been an evolving model of public participation in scientific research ever since. While it's changed a lot in the last five years, Experimonth remains true to its origins as a way to know oneself better and try new things.
				
				p Experimonths generally start with a relationship between a museum and a local expert (scientists, artists, historians, etc.).  Together, an experience is crafted that challenges participants to do something everday for a month. The requirements for this challenge are generally: 
				
				ul
					li It must be interesting to do.
					li The participant can always modify the experience to suit his or her own needs.
					li The data generated must be interesting to the expert.
					li The experience trumps rigor every time.
				
				p After an idea is conceived and the necessary technology implemented, the Experimonth is published on this website and enrollment is opened.  Some Experimonths can take an unlimited number of participants, others accept a limited number. This is clearly displayed on the Currently Recruiting page. 
				
				p Depending on what Experimonth you choose to do, you'll be asked to answer a set of questions that the expert we've worked with wants to know about each participant. You'll see these at the top of every page on the site until they're all answered.  You can always choose not to answer the questions, but you have to explicitly make that choice. You can also chose to not donate your data. This won't affect your ability to play the game. You can also always opt-out of data collection at any time, even if you've previously said it's okay to donate your data.
				
				p When the Experimonth you've signed up for begins, you'll be notified via email each day during the month in which it occurs.  When it's over, it's over. We'll generally send a wrap-up email with the expert co-creator sharing what we've learned.
				
				p Experimonths are always more fun with friends, so invite them liberally. Also, you can sign up to be notified of new Experimonths in the case that you decide not to constantly monitor the Currently Recruiting page.
				
				p One last thing... we have a Confessional open for your anonymous thoughts. This started as a way to give people a chance to share their thoughts on an Experimonth we did in November 2011 on race and ethnicity, and it went so well, we've included it on every Experimonth since. Share what you have to say or read what others have said and respond. We explicitly drop all identifying information before recording the confession and its timestamp to our database, so it's one of the rare places on the Internet where you aren't tracked. Use as often as you like. 
				
				p
					| Other questions, drop us a line at 
					a(href="mailto:experimonth@lifeandscience.org") experimonth@lifeandscience.org
					|  or find us on 
					a(href="https://twitter.com/experimonth") Twitter
					|  or 
					a(href="https://www.facebook.com/experimonth") Facebook
					| .
			
			.span4
				.meet-the-team
					h5 Meet the Team
					
					img.team-image(src="/img/team_beck.png")
					h6.name-and-title Beck Tench, Creator
					h6.twitter
						a(href="http://twitter.com/10ch") @10ch
						| , 
						a(href="http://twitter.com/experimonth") @experimonth
					p Beck created experimonth as a way to redefine her new year’s resolutions in 2008.  She now leads the development of Experimonth and gets paid to do it.
					
					img.team-image(src="/img/team_elizabeth.png")
					h6.name-and-title Elizabeth Fleming
					h6.twitter
						a(href="http://twitter.com/elizabef") @elizabef
					p Elizabeth was the first person to experimonth with Beck, joining her and some of their colleagues, friends and strangers for each of the original 2009 experimonths. She has helped develop them from their first imaginings at the museum and specifically thinks up ways they can be explored in physical space.
					
					img.team-image(src="/img/team_troy.png")
					h6.name-and-title Troy Livingston
					h6.twitter
						a(href="http://twitter.com/troybur") @troybur
					p Troy is a seasoned experimonther and also its number one champion, making space for Beck and Elizabeth to play with the idea before it was something that could be reasonably justified as work.

					img.team-image(src="/img/team_ben.png")
					h6.name-and-title Ben Schell
					h6.twitter
						a(href="http://twitter.com/benschell") @benschell
					p Ben makes experimonths work. He writes all of the code, structures the databases and troubleshoots when things don’t go as we’d planned.