h3 Howdy.

p
	| A request was made to reset your password at #{base_url}. If this was intentional, please click <a href="#{activation_url}">here</a> or copy and paste the URL below into your browser to complete the password reset and choose a new password.
	
p 
	a(href=activation_url) #{activation_url}

p If you did not initiate this action, there is no need to take any action.