extends ../layout

block body
	#container-inner
		h1 #{title}
		h3 Start Date: #{locals.moment(experimonth.startDate).utc().format('YYYY-MM-DD')}
		h3 End Date: #{locals.moment(experimonth.endDate).utc().format('YYYY-MM-DD')}
		
		p To enroll in this Experimonth, you must read and accept the following text:
		
		textarea #{experimonth.survey}
		
		form(action="/experimonths/enroll/"+experimonth._id, method="POST")
			.form-actions
				button.btn.btn-primary(type="submit", name="submit", value="Accept") Accept
				|  
				button.btn(type="submit", name="submit", value="Decline") Decline