extends ../layout

block body
	#container-inner
		form(method="POST")#userForm.form-horizontal
			fieldset
				legend #{title}
				console.log(user)
						
				.control-group
					label.control-label(for="email") Email Address:
					.controls
						input#email.span5(type="text", placeholder="", name="email", value=user.email)
						p.help-block Your email address.
		
				.control-group
					label.control-label(for="name") Name:
					.controls
						input#name.span5(type="text", placeholder="", name="name", value=user.name)
						p.help-block The name of the user.
		
				.control-group
					label.control-label(for="timezone") Timezone:
					.controls
						input#timezone.span5(type="text", placeholder="", name="timezone", value=user.timezone)
			
		
			.form-actions
				button.btn.btn-primary(type="submit") Submit
				|  
				a.btn(href="/users") Cancel